<div class="jumbotron">
  <div class="container">
    <h1>Check the Weather</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="http://localhost:3000/weather/display">
        <div class="form-group">
          <label for="address">Address:
          <input type="text" name="address" id="GET-address" class="form-control" placeholder="Enter address">
          </label>
        </div>
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
      </form>
